.footer{
    background: linear-gradient(to right, #0e2de0, #c51010ed);
    height: auto;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

}
.footer p{
    font-family: 'Lato';
    color: white;
}