.footer{
    background-color: black;
    height: auto;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 5;

}
.footer p{
    font-family: 'Lato';
    color: grey;
}
.citation{
    font-style: italic;
    color: white;
    background-color: black;
    box-shadow: 0px 0px 12px 10px #131417;
}