.header{
    height: auto;
    width: 100%;
    background-color: #000000;
    margin-bottom: 40px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;}
.header-upper_line{
    height: 100px;
    width: 100%;
    background-color: rgb(26, 25, 23);
    text-align: left;
    margin: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-lower_line{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    text-align: right;
    margin: 0;
    box-shadow: 0px 5px 15px 1px #8f77778a;
    z-index: 5;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;}
#site_logo a{
  font-family: 'Bebas Neue', cursive!important;
  text-decoration: none;
  width: 80%;
}
/* #site_logo:hover{
  transition: all .5s ease-in-out;
  transform: scale(1.1);
} */
.link{
    color: black!important;
    margin: 20px;
    text-decoration: none;
    font-weight: 800;
}
.link:hover{
  color: white!important;
}
.h1-like{
    color: white;
    font-family: 'Lato';
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}
.link{
    font-family: 'Lato';
  }
#nav_add_soldier_link{
  color: white !important;
  border: solid;
  border-radius: 5px;
  padding: 5px;
}
#nav_add_soldier_link:hover{
  color:Black!important;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: green;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px green;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .display-row{
    display: flex;
    align-items: center;
  }
  .icon-darkmode{
    width: 1.5em;
    height: 1.5em;
    margin: 10px;
  }
  /* .darkmode{

  } */
  .dark{
    filter: invert(100%);
  }
