/* body {
  background: #ffffff;
  background: linear-gradient(to right, #0e2de0, #c51010ed);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato';
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-input{
  margin: 40px;
} */