.title{
  text-align: center;
}
.container-data{
  background: #ffffff;
  background: linear-gradient(to right, #0e2de0, #c51010ed);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato';
  margin: 0;
  height: 70vh;
}
.perso-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  list-style: none;
}
.perso-card{
  background-color: rgb(106, 182, 106);
  border-radius: 20px;
  box-shadow: 0 3px 15px rgb(100 100 100 / 50%);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 150px; 
}
.perso-card-plante, .perso-card-grass{
  background-color: rgb(106, 182, 106);
  border-radius: 20px;
  box-shadow: 0 3px 15px rgb(100 100 100 / 50%);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 150px;
}
.perso-card-feu, .perso-card-fire{
  background-color: rgb(180, 92, 92);
  border-radius: 20px;
  box-shadow: 0 3px 15px rgb(100 100 100 / 50%);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 150px;
}
.perso-card-eau ,.perso-card-water{
  background-color: rgb(117, 117, 197);
  border-radius: 20px;
  box-shadow: 0 3px 15px rgb(100 100 100 / 50%);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 150px;
}
.perso-card-insecte ,.perso-card-bug{
  background-color: rgb(182, 182, 118);
  border-radius: 20px;
  box-shadow: 0 3px 15px rgb(100 100 100 / 50%);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 150px;
}
.perso-card-normal{
  background-color: rgb(199, 159, 49);
  border-radius: 20px;
  box-shadow: 0 3px 15px rgb(100 100 100 / 50%);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 150px;
}

.perso-img{
  max-height: 100px;
  max-width: 100%;
}

.perso-name{
  
  color: White;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1pc;
  margin-bottom: 20px;
}


ul li{
  list-style: none;
}