  body{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0px;
    margin: 0px;
  }
  
  h1{
    font-size: 30px;
    text-align: center;
    font-family: 'Lato';
    color: white;
    margin-top: 60px;
    margin-bottom: 0px;
    text-transform: uppercase;
  }
  .underline{
    color: green;
    margin-bottom: 60px;
    text-align: left;
  }
  h2{
    font-size: 18px;
    font-family: 'Lato';
    color: white;

  }
  p{
    font-size: 14px;
    font-family: 'Lato';
    color: rgb(232, 220, 220);

  }
  a{
    font-size: 14px;
    font-family: 'Lato';
    color: white;
    text-decoration: none;
  }
  th{
    margin:20px;
    padding: 10px;
  }
  th p{
   color:green!important;
   font-size: 18px!important;
   font-weight: 700!important;
  }
  td{
    text-align: center;
  }
  hr{
    border: 2px solid olive;
  }
  ul li{
    list-style: none;
  }
 
  .text_aligne{
    text-align: center;
    color:red;
  }
  .italic{
    font-style: italic;
  }
  #army-type{
    width: 80%;
    max-width: 1290px;
    display: flex;
    flex-direction: row;
  }
 
  /* INPUT */


  input{
    border:none;
    border-radius: 10px;
    width: 100%;
    height: 2em;
    min-width: 200px;
    max-width: 400px;
    text-align: center;
    background:rgb(0, 0, 0);
    box-shadow: #0F2027;
    color:white
  }

  input[type=radio]{
    width: auto;
    height: 1em;
    min-width:  auto;
    max-width: auto;
  }
  
  #add_img_soldier{
    width: auto;
    border:none;
    height: auto;
    background-color: rgba(255, 0, 0, 0);
  }

  textarea{
    border:none;
    border-radius: 10px;
    width: 100%;
    min-height: 200px;
    background: black;
    color:white;
  }

  select{
    background: black;
    border:none;
    border-radius: 10px;
    color:white
  }

  form{
    width: 90%;
    max-width: 1200px;
    display: grid;
    justify-items: center;
  }
  #id_input{
    width: auto;
    background: black;
    border:none;
    border-radius: 10px;
    color:white;
  }
  .input_field{
    padding: 10px;
    width: 100%;
    text-align: center;
  }
  .full-width-input{
    padding: 10px;
  } 

  label{
    padding-right: 10px;
    font-size: 16px;
    color: white;

  }

  /* Container */

  .container-data{
    /* padding-left: 130px; */
    background-color: rgb(30, 28, 28);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato';
    margin: 0;
    height: auto;
    min-height: 55vh;
    padding-bottom: 40px;
  }
 
  .first-container{
    width:70%;
    background-color: #373c43;
    padding: 30px;
    border-radius: 10px;
    /* box-shadow: 0px 6px 10px 1px #9184844a; */
    margin: 20px;
    display: grid;
    justify-items: center;
  }
  .first-container-red{
    width:70%;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);

    padding: 30px;
    border-radius: 10px;

    margin: 20px;
    display: grid;
    justify-items: center;
  }
  .first-container-orange{
    width:70%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );  
    padding: 30px;
    border-radius: 10px;
    margin: 20px;
    display: grid;
    justify-items: center;
  }
  .first-container-green{
    width:70%;
    
    padding: 30px;
    border-radius: 10px;
    background-color: #820b4b;
    background-image: linear-gradient(225deg, #820b4b 0%, #784BA0 50%, #2B86C5 100%);
    

    color:black!important;
    margin: 20px;
    display: grid;
    justify-items: center;
  }
  .second-container{
    width: 80%;
    background-color: #131417;
    padding: 20px;
    border-radius: 20px;
    /* box-shadow: 0px 6px 30px 1px #f1eeee4a; */
    margin-bottom: 20px;
    display: grid;
    justify-items: center;
  }

  
  .list-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container-data-background{
    background-image:url(https://www.urbalab.fr/wp-content/uploads/2020/07/EJGwYwiXYAAsacI-1200x745.jpg);
    background-size: cover;
    filter: grayscale(1);
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato';
    margin: 0;
    height: 150px;
    padding-bottom: 40px;
  }
  .display_row{
    width: 100%;
    display: flex;
    margin: 10px;
  }
  .textarea-container{
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .textarea-container label{
    padding-bottom: 20px;
    padding-top: 20px;

  }


  /* Soldat  */


  .list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: auto;
    text-align: center;
    list-style: none;
  }
  .card{
    background-color: black(255, 255, 255);
    border: solid 1px grey;
    background: rgb(0, 0, 0);

  }
  .soldier-img{
    max-height: auto;
    max-width: 300px;
  }
  .soldier-img-container{
    position: relative;
    background-color: #4e5257;
  }

  .ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
  
  /* top left*/
  
  .ribbon-top-left::before,
  .ribbon-top-left::after {
    border-top-color: red;
    border-left-color: red;
  }
  .ribbon-top-left::before {
    top: 0;
    right: 0;
  }
  .ribbon-top-left::after {
    bottom: 0;
    left: 0;
  }
  .ribbon-top-left span {
    right: 8px;
    top: 4px;
    transform: rotate(-45deg);
  }
  
  .soldier-img_small{
    max-height: auto;
    max-width: 75px;
  }
  .soldier-name{  
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1pc;
    margin-bottom: 20px;
  }
  
 
  .table{
    box-sizing: border-box;
    text-indent: initial;
    width: 80%;
    max-width: 1290px;
    background-color: rgb(62, 83, 66);
  }
  .thead{
    background-color: rgb(0, 0, 0);
  }
  .tbody{
    background-color: rgb(0, 0, 0);
  }
  .soldier_text p{
    color: rgb(195, 197, 199);
  }

  /* Couleur des armées */

  /* Armee de terre */
  .armeeColor-1{
    background-color: olive;
  }
  /* Armee de l'air */
  .armeeColor-2{
    background-color: deepskyblue;
  }
  /* Marine nationale */
  .armeeColor-3{
    background-color: navy;
  }
  /* Gendarmerie */
  .armeeColor-4{
    background-color: lightskyblue;
  }
  /* autres */
  .armeeColor-5{
    background-color: slategray;
  }

  /* Soldier GENDER */
  .soldier-gender-MALE p{
    color: rgb(64, 64, 233);
  

  }
  .soldier-gender-FEMALE p{
    color: rgb(220, 76, 233);
   
  }
  
/* BOUTONS */
  button{
   margin: 20px;
 }  
 
  .btn-green{
    font-size: 16px;
    width: 200px;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    transition: 0.5s;
    background-size: 200% auto;
    display: block;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);   
    color: black;
  }
  
 
  .btn-submit{
    margin: 20px;
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(83 170 85);
    cursor: pointer;
    color: white;
    border: none;

  }
  .btn-transparent{
    font-size: 16px;
    width: 200px;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: solid 3px white;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    color: white;
  }
  .btn-transparent a {
    color: white;
  }
  .btn-transparent:hover{
    border: solid 3px black;
  }

  .btn-green:hover, .btn-submit:hover{
    /* background-color: transparent; */
    background-position: right center; /* change the direction of the change here */
    color: white;
    border: none;
    cursor: pointer;
  }

  /* COLOR */

  .color-red{
    color: red;
    border: none;
    margin:5px!important;
    cursor: pointer;
  }
  .color-green{
    color: green;
    border: none;
    margin:5px!important;
    cursor: pointer;
  }
  
  /* ICONE */
  .icon{
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    margin: 10px;
  }

  /* Nav */
  #nav_add_soldier_link{
    text-transform: uppercase!important;
  }

  /* .soldier-gender-MALE::after{
    content: "\2642";
    color:white;
  }
  .soldier-gender-FEMALE::after{
    content: "\2640";
    color:white;
  } */
  .soldier-gender-MALE{
 
    background-color: rgb(61, 61, 204);
    
  }
  .soldier-gender-FEMALE{

    background-color:#DD5E89;
    
    }
  

/* theme LIGHT / DARK */

  body.light{
      background: white!important;  /* fallback for old browsers */
  }
  .light .container-data{
    background-color: rgb(255, 255, 255);
  }

  .light h1{
    color :black!important;
  }
  .light .thead{
    background-color: rgb(207, 231, 189);
  }
  .light .card{
    background-color: rgb(255, 255, 255);
  }
  .light .card p {
    
    color :black;
  }
  .light input{
    background:rgb(255, 255, 255);
    box-shadow: #0F2027;
    color:rgb(0, 0, 0);
  }
  .light input[type=radio]{
    width: auto;
    height: 1em;
    min-width:  auto;
    max-width: auto;
  }
.light select{
  background-color: rgb(255, 255, 255);
}
  .light  #add_img_soldier{
    background-color: rgba(255, 0, 0, 0);
  }
  .light textarea{
    background: rgb(255, 255, 255);
    color:black;
  }
  .light select{
    background: rgb(255, 255, 255);
    color:black
  }
  .light #id_input{
    background: rgb(255, 255, 255);
    color:black;
  }
